.home{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
   // background-color: #fffbeb;
    justify-content: center;
   // background-color: red;
    
    }
    
    
    .homeGlass{
      //background-color: #fffbeb;
      display: grid;
      height: 100vh;
      width: 100vw;
      //overflow: hidden;
      grid-template-columns: 10rem auto 25rem;
      //background-color: green;
      
    }
    //Tablet responsiveness
    @media screen and (max-width:1200px) {
     .homeGlass{
    
      display: grid;
      grid-template-columns: 10% 50% auto;
      overflow-y: scroll;
      
     } 
    }
    //mobile responsiveness
    @media screen and (max-width:768px) {
      .homeGlass{
        
        grid-template-columns: 1fr;
        
      }
      
  }