.navbar{
    background-color:#0081c9;
    width: 100%;
    height: 80px;
    color: white;
    display: flex;
    padding: 5px;
    align-items: center;
    font-size: 14px;
    .left{
        flex: 50%;
        
        display: flex;
        justify-content: left;
        align-items: center;
        .links{
          display: flex;
          .items{
            display: flex;
            gap: 1rem;
.item{
  display: flex;
  align-items: center;
  margin-left: 20px;
  position: relative;
  .icon{
    font-size: 20px;
  }
  .steno{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
  }
  .counter{
    display: flex;
    width: 15px;
    height: 15px;
    background-color: red;
    border-radius: 50%;
    color: white;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    font-weight: bold;
    position: absolute;
    top: -4px;
    right: -4px;
  }
}
          }
          
            
            max-height: 80px;
            a{
                text-decoration: none;
                color: white;
                font-size: 23px;
                margin-left: 15px;
            }
        }
        #flexible{
            display: flex;
            
        
            
        }
        button{
            display: none;
            margin-left: 20px;
        }
    }
    .links{
display: flex;

    }
    .right{
        flex: 50%;
        
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding-left: 25px;

        input{
width: 220px;
height: 30px;
border: none;
border-radius: 5px;
font-size: 20px;
padding-left: 15px;
color: black;
outline: none;

        }
        button{
            height: 32px;
            width: 70px;
            font-size: 16px;
            border-radius: 5px;
            cursor: pointer;
        }
    }
  }
  //Tablet responsiveness
  @media screen and (max-width:850px) {
    .navbar{
      .left{
        .links{
            a{
                font-size: 20px;
            }
        }
      }  
    }
    
  }



  //mobile responsiveness
  @media screen and (max-width:750px) {
    .navbar{
      z-index: 9999;
      .left{
        .links{
            a{
                font-size: 15px;
            }
        }
        
      }  
    }
    
  }

  @media screen and (max-width:650px) {
    .navbar{
      .left{

        .links{
            
                display: none;

            
        }
         #flexible{
            position: absolute;
            left: 60px;
            
            top: 80px;
            height: 300px;
            width: 40%;
            background-color:#0081c9;
            
            display: flex;
            flex-direction: column;
            align-items: center;
            max-height: 230px;
            justify-content: center;
            padding: 15px;
            .items{
              flex-direction: column;
              align-items: center;
              justify-content: center;
            }
            
             
            a{
                margin: 10px;
                font-size: 20px;
            }
        
            
        }
        button{
            display: flex;
        }
      }  
    }
    
  }