.all{


.sidebar{
display: flex;
flex-direction: column;
position: relative;
padding-top: 1rem;
transition: all 300ms ease;
background-color: #fffbeb;
gap: 0.3rem;

.top{
    display: flex;
    gap: 1rem;
    align-items: center;
    height: 2.5rem;
    margin-left: 2rem;
    position: relative;
    transition: all 300ms ease;
    font-size: 18px;
    font-weight: bold;
    opacity: 0.9;
    cursor: pointer;

   span{
    color: #3c79f5;
    span{
        color: #cd0404;
    }
   } 
}
/* list */
.center{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    
    justify-content: center;
    .centerItem{
        display: flex;
        gap: 1rem;
        align-items: center;
        height: 2rem;
        margin-left: 2rem;
        position: relative;
        transition: all 300ms ease;
        font-size: 16px;
        cursor: pointer;
        border-radius: 0.7rem;
        color: blue;
        font-weight: 500;
    &.active{
        background-color: #A0C3D2;
        margin-left: 0;
        &.active::before{
            background-color: #C85C8E;
            content: " ";
           width: 8px;
            height: 100%;
            margin-right:calc(1rem - 8px);
        }
    }
    
.icon{
    background-color: #FADA9D;
    border-radius: 20%;
    color: #FF7B54;
    align-items: center;
    justify-content: center;
    max-height: fit-content;
}
    }
}
.bottom{
    display: flex;
    align-items: center;
    margin: 5px;
    .colorOption{
        width: 20px;
        height: 14px;
        border-radius: 5px;
        border: 1px solid blue;
        cursor: pointer;
        display: flex;
        gap: 1rem;
        align-items: center;
        margin-left: 1.5rem;
    
        transition: all 300ms ease;
        font-size: 16px;
        cursor: pointer;
        font-weight: 500;
        margin-top: 0px;

        &:nth-child(1){
            background-color: #fffbeb;
        }
        &:nth-child(2){
            background-color: rgb(67, 65, 65);
        }

    }
}

}

}
//Tablets responsiveness
@media screen and (max-width:1200px) {
   .sidebar{
    .top{
        display: none;
    }
    .center{
        span:nth-child(2){
            display: none;
        }
    }
    .bottom{
       margin-top: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .colorOption{
            margin-right: 1px;
            gap: 0.5rem;
            margin-top: 0;
            margin-bottom: 0.5rem;
            justify-content: center;
            align-items: center;
            width: 50%;
            display: block;
        .colorOption:nth-child(1){
            
            margin-bottom: 0.5rem;
width:20%;
height: 20px;
        }
        .colorOption:nth-child(2){
            
            width:40%;
height: 20px;
                    }

    }
}
   } 
}
//mobile responsiveness
@media screen and (max-width:768px) {
    .all{

   
    .sidebar{
        position: fixed;
        z-index: 999;
        background-color: #a4e845;
        width: 55%;
        padding-right: 1rem;
        height: 100%;

        .top{
        display: flex;
       
        .center{
            span:nth-child(2){
                display: flex;
            }
        }
    }
    
    .center{
        span:nth-child(2){
            display: flex;
        }
        
        
    }
    
}
.bars{
    
    display: flex;
    z-index: 9999;
    position: fixed;
    top: 5.4rem;
    background-color: #C85C8E;
    padding: 10px;
    border-radius: 5px;
}
}
}