.new{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #fffbeb;
    justify-content: center;
    
    }
    
    
    .newGlass{
      background-color: #fffbeb;
      display: grid;
      height: 100vh;
      width: 100vw;
      //overflow: hidden;
      grid-template-columns: 10rem auto;
      .newContainer{
      
      .top{
        box-shadow: 10px 10px 5px 0px rgba(165, 187, 245, 0.75);
-webkit-box-shadow: 10px 10px 5px 0px rgba(161, 185, 246, 0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(178, 194, 236, 0.75);
padding: 10px;
margin: 20px;
h1{
  color: gray;
  font-size: 18px;
}
      }
      .bottom{
        box-shadow: 10px 10px 5px 0px rgba(165, 187, 245, 0.75);
        -webkit-box-shadow: 10px 10px 5px 0px rgba(161, 185, 246, 0.75);
        -moz-box-shadow: 10px 10px 5px 0px rgba(178, 194, 236, 0.75);
        padding: 10px;
        margin: 20px;
        display: flex;
       
        .left{
          flex: 1;
          text-align: center;
          
          img{
            width: 100px;
            height: 100px;
            border-radius: 50%;
            object-fit: contain;
          }
        }
        .right{
          flex: 2;
        }

      }
      }
      
    }
    //Tablet responsiveness
    @media screen and (max-width:1200px) {
     .newGlass{
    
      display: grid;
      grid-template-columns: 10% 50% auto;
      overflow-y: scroll;
     } 
    }
    //mobile responsiveness
    @media screen and (max-width:768px) {
      .newGlass{
        
        grid-template-columns: 1fr;
        
      }
      
  }